<div class="center-align">
    <a class="btn waves-effect waves-light" {{action "refresh"}}>Refresh</a>
</div>
{{material-pagination pages=model.pages active=page changePage="changePage"}}

<div class="tableContainer">
    <table class="responsive-table striped highlight grey lightne-3">
        <thead>
            <tr>
                <th data-field="id">
                    Id
                </th>
                <th data-field="version">
                    Version
                </th>
                <th data-field="createdOn">
                    Created on
                </th>
                <th data-field="modifiedOn">
                    Modified on
                </th>
                <th data-field="name">
                    Name
                </th>
                <th data-field="description">
                    Description
                </th>
                <th data-field="severity">
                    Severity
                </th>
                <th data-field="filter">
                    Filter
                </th>
                <th data-field="timestamp">
                    Timestamp
                </th>
                <th data-field="tags">
                    Tags
                </th>
            </tr>
        </thead>

        <tbody>
            {{#each model as |event|}}
                <tr>
                    <td>
                        {{event.id}}
                    </td>
                    <td>
                        {{event.version}}
                    </td>
                    <td>
                        {{event.createdOn}}
                    </td>
                    <td>
                        {{event.modifiedOn}}
                    </td>
                    <td>
                        {{event.name}}
                    </td>
                    {{#material-tooltip}}
                        <td class="truncate tooltipped" data-position="top" data-tooltip="{{event.description}}">
                            {{event.description}}
                        </td>
                    {{/material-tooltip}}
                    <td>
                        {{event.severity}}
                    </td>
                    {{#material-tooltip}}
                        <td class="truncate tooltipped" data-position="top" data-tooltip="{{event.filter}}">
                            {{event.filter}}
                        </td>
                    {{/material-tooltip}}
                    <td>
                        {{event.timestamp}}
                    </td>
                    <td>
                        {{event.tags}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{material-pagination pages=model.pages active=page changePage="changePage"}}
